@import url("./palette.css");


.message-div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    color: var(--secondary-light);
    opacity: 1;
    animation: fadeOut 3s ease;
    margin: 1rem 0 1.5rem 0;
}

.success {
    background: var(--success);
}

.warning {
    background: var(--warning);
}

.error {
    background: var(--error);
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}