@import url("./palette.css");



/* .message-div {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    animation: fadeOut 3s forwards;
}

.message-div.success {
    background-color: #d4edda;
    color: #155724;
}

.message-div.error {
    background-color: #f8d7da;
    color: #721c24;
}

.message-div.warning {
    background-color: #fff3cd;
    color: #856404;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
} */



.message-div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    color: var(--secondary-light);
    opacity: 1;
    animation: fadeOut 3s ease;
}

.success {
    background: var(--success);
}

.warning {
    background: var(--warning);
}

.error {
    background: var(--error);
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}