@import url('../../assets/palette.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* fonts */

.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-mono-bold {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-mono-regular-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-mono-bold-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 342px;
}

hr {
    height: .8rem;
    margin: 8rem 0;
    background-color: var(--primary-dark);
}

h2 {
    padding: 15px 0;
    text-align: center;
}

.footer-hr {
    margin: 0 !important;
}

/* BODY STYLING */

/* -------Header styling------ */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -------Header-top-container-styling------ */

.hero-section {
    /* Set the background video */
    /* background: url('../../assets/videos/rafini-1.mp4') no-repeat center fixed; */
    /* Adjust the background size and other properties */
    /* background-size: cover; */
    /* Add other styles as needed */
}


.header-top-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

button {
    padding: 15px 20px;
    border-radius: .50rem;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.instructor-button {
    background-color: var(--primary-dark);
    border: 2px solid var(--primary-dark);
    color: var(--background-primary);
}

.instructor-button:hover {
    background-color: var(--background-primary);
    color: var(--primary-dark);
}

.get-started-button {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: var(--background-primary);
}

.get-started-button:hover {
    background-color: var(--background-primary);
    color: var(--primary-dark);
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

span {
    color: var(--primary-dark);
}

/* -------Header-large-input-container-styling------ */

.large-input-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}

textarea {
    padding: 15px;
    font-size: 16px;
    height: 15rem;
    border-radius: 10px;
    border: 2px solid var(--primary-dark);
    width: 100%;
}

textarea:hover {
    border-color: var(--primary);
}

.textarea-icons-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 70%;
    justify-content: flex-start;
}

.input-container-form-field {
    display: flex;
    width: 65%;
}

.input-container-form-field input {
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--primary-dark);
    border-radius: 10px;
}

.input-container-form-field input:hover {
    border-color: var(--primary);
}

a {
    cursor: pointer;
}

.question-submit-icon svg {
    padding: 15px;
}

.hero-submit-icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: none;
    background-color: var(--primary-dark);
    font-size: 30px;
}

.hero-submit-icon:hover {
    background-color: var(--primary-dark);
    font: var(--background-primary);
}

.icon-black-color {
    color: var(--secondary-dark);
}

.textarea-input-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.textarea-input-icons svg {
    margin: 0;
    padding: 0;
    height: 2rem;
    color: var(--primary);
}

.hr-1 {
    background-color: var(--secondary);
}

/* MAIN STYLING */

.main-h2-headers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 8rem;
}

.main-h2-headers div {
    padding: .5rem;
    border: 3px solid var(--border-color-dark);
    border-right: none;
    border-left: none;
    width: 20rem;
}

/* ----------values--------- */

.values {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px 0;
}

.value {
    width: 250px;
    height: 150px;
    border: 2px solid;
    padding: 10px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.value-2 {
    flex-direction: column-reverse;
}

.value-1 {
    border-color: var(--primary-dark);
}

.value-2 {
    border-color: var(--primary-dark);
}

.value-3 {
    border-color: var(--primary-dark);
}

.values .fa-solid,
.values .fa-brands {
    font-size: 50px;
}

.value-2 .fa-brands,
.value-2 p {
    color: var(--primary-dark);
}

.values .fa-solid,
.value-1 p,
.value-3 p {
    color: var(--primary-dark);
}

.hr-2 {
    background-color: var(--primary-dark);
}

/* --------offers-------- */

.hr-3 {
    background-color: var(--primary-dark);
}

.offer-insight-container {
    width: 400px;
    height: 100px;
}

.offer-container-left {
    width: 500px;
    height: 500px;
}

.offer-container-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.offers {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    gap: 80px;
}

.offer {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.offer-2 {
    flex-direction: row-reverse;
}

.offer-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.offer-insight-container h3 {
    padding-bottom: 15px;
}

main button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    font-size: 20px;
    color: var(--background-primary);
}

main .hero-submit-icon {
    background: none;
    color: var(--background-primary);
}

.explore-icon {
    font-size: 30px;
}

.offer-1 button,
.offer-3 button {
    background-color: var(--primary-dark);
    border: 2px solid var(--primary-dark);
    color: var(--background-primary);
}

.offer-1 button:hover,
.offer-3 button:hover {
    background-color: var(--background-primary);
    color: var(--primary-dark);
}

.offer-2 button {
    background-color: var(--primary-dark);
    border: 2px solid var(--primary-dark);
    color: var(--background-primary);
}

.offer-2 button:hover {
    background-color: var(--background-primary);
    color: var(--primary-dark);
}

.hr-4 {
    background-color: var(--primary-dark);
}

/* ---------Join-Us-------- */

.log-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 5rem;
}

.log-in-form p {
    padding-bottom: 10px;
}

.username-input,
.pwd-input {
    padding: 10px;
    width: 400px;
    margin-bottom: 10px;
}

.pwd-input {
    margin-bottom: 50px;
}

.username-input,
.pwd-input {
    border-right: none;
    border-left: none;
    border-top-style: solid;
}

.log-in-form input:hover {
    border-color: var(--primary-dark);
}

.submit-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SIGN-IN {
    padding: 12px 17px;
    margin-bottom: 10px;
    background-color: var(--primary-dark);
    border-radius: .5rem;
    border: none;
    color: var(--background-primary);
    cursor: pointer;
}

.SIGN-IN:hover {
    background-color: var(--primary-dark);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.footer-contact-icons {
    display: flex;
    gap: 20px;
}

.footer-contact-icons .fa-brands,
.footer-contact-icons .fa-solid {
    font-size: 25px;
    color: var(--secondary-dark);
}

.hr-5 {
    background-color: var(--primary-dark);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
    textarea {
        margin-left: 0;
        width: 800px;
    }
}

@media screen and (max-width: 985px) {
    .offer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 910px) {
    textarea {
        width: 700px;
    }

    .values {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 805px) {
    textarea {
        width: 600px;
    }
}

@media screen and (max-width: 705px) {
    textarea {
        width: 500px;
    }
}

@media screen and (max-width: 605px) {
    textarea {
        width: 400px;
    }
}

@media screen and (max-width: 545px) {
    .offer-container-left {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 505px) {
    textarea {
        width: 300px;
    }

    h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 442px) {
    .offer-container-left {
        width: 300px;
        height: 300px;
    }

    .offer-right-container {
        justify-content: center;
        align-items: center;
    }

    .offer-insight-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .offer-right-container p {
        text-align: center;
    }
}

@media screen and (max-width: 410px) {

    .username-input,
    .pwd-input {
        width: 300px;
    }

    footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 405px) {
    .offer-insight-container {
        width: 230px;
        height: 150px;
    }
}


@media screen and (max-width: 380px) {
    textarea {
        width: 250px;
    }

    h1 {
        font-size: 20px;
    }

    .logo-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 305px) {
    textarea {
        width: 200px;
    }
}

/* Logo styles */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: .5rem;
    width: 50px;
    transform: rotateY(180deg);
}

section {
    margin: 12rem 1rem;
}