@import url("../../assets/palette.css");



.message-item-container {
    padding: 7px 20px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    border-bottom: 1px solid var(--secondary);
    cursor: pointer;
    width: 100%;
    background-color: var(--background-primary);
}

.message-item-container:hover {
    background-color: var(--primary);
}