@import url("../../../assets/palette.css");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

/* -------------------- */

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.home-main-container {
    width: 80%;
    height: 100%;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .home-aside-container {
    width: 20%;
    height: 100%;
} */

/* ------HOME-MAIN-CONTAINER------(left container) */
.home-main-container .navbar {
    width: 96%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0 2%;
    color: var(--background-primary);
}

.hr {
    border: 1px solid var(--secondary);
    width: 100%;
    margin: 10px 0 20px 0;
}

.questions-display-container {
    width: 100%;
    height: 80%;
    padding: 20px 20px 0 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--background-secondary);
    overflow-y: auto;
}

.questions-container-header {
    color: var(--secondary);
}

.inner-container {
    width: 100%;
    height: 85%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    overflow-y: auto;
    padding: 1rem;
}

/*--------HOME-ASIDE-CONTAINER------- */

.home-aside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Logo-design {
    width: 60px;
    padding-top: 20px;
}

.Logo-text {
    color: var(--background-primary);
    text-decoration: none;
}

.icon-log-out {
    align-self: flex-end;
    margin-right: 40px;
}

.power-off {
    color: var(--background-primary);
    font-size: 30px;
    margin-top: 60px;
    padding: 5px;
    /* background-color: var(--primary); */
    border-radius: 50%;
    cursor: pointer;
}

.power-off:hover {
    background-color: var(--primary);
    color: var(--secondary-light);
}